.login {
  .login-title {
    background: #7b3d98;
    padding: 10px;
    justify-content: space-between;
    .login-title-text {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      padding-left: 10px;
      color: #ffffff;
    }
  }
  .login-body {
    display: flex;
    background: rgba(189, 78, 199, 0.2);
    justify-content: center;
    align-items: center;
    padding: 60px 0 60px 0;
    .login-body-window {
      flex-direction: column;
      width: 751px;
      left: 265px;
      top: 115px;

      background: rgba(123, 61, 152, 0.8);
      border-radius: 50px;
      .login-body-window-title {
        padding-top: 60px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.25em;
        color: #ffffff;
      }
      .login-body-window-enter {
        display: flex;
        flex-direction: column;
        padding: 10px 70px 10px 70px;
        .login-body-window-enter-from {
          display: flex;
          flex-direction: column;
          .login-body-window-enter-from-logintext {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            .login-body-window-enter-from-logintext-title {
              padding-left: 30px;
              font-family: "Roboto";
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              letter-spacing: 0.1em;

              color: #ffffff;
            }
            .login-body-window-enter-from-logintext-help {
              padding-right: 15px;
              font-family: "Roboto";
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              text-align: right;

              color: #ffffff;
            }
          }
          .login-body-window-enter-from-input {
            display: flex;
            background: #fffcfc;
            border: 2px solid #7b3d98;
            height: 66px;
            border-radius: 20px;
            .login-body-window-enter-from-input-enter {
              width: 95%;
              margin-left: 30px;
              border-style: none;
              background-color: transparent;
              outline: none;
              font-family: "Roboto";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              letter-spacing: 0.1em;

              color: #7b3d98;
            }
            .login-body-window-enter-from-input-enter::placeholder {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              letter-spacing: 0.1em;

              color: #7b3d98;
            }
          }
          .login-body-window-enter-from-forget {
            display: flex;
            justify-content: center;
            .login-body-window-enter-from-forget-text {
              padding-top: 15px;
              font-family: "Roboto";
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              text-align: center;

              color: rgba(255, 255, 255, 0.8);
              cursor: pointer;
            }
          }
        }
        .login-body-window-loginbutton {
          margin-top: 40px;
          height: 66px;
          background: #7b3d98;
          border: 2px solid #ffffff;
          border-radius: 20px;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          text-align: center;
          letter-spacing: 0.25em;

          color: #ffffff;
          cursor: pointer;
        }
        .login-body-window-enter-others {
          .login-body-window-enter-others-title {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            /* identical to box height */
            text-align: center;
            letter-spacing: 0.1em;

            color: #ffffff;
            svg {
              fill: #ffffff;
            }
          }
        }
      }
    }
  }
}

.sample1-stick-icon {
  svg {
    fill: aqua;
  }
}
