@use "../rwd.module.scss" as rwd;
.signup {
  .signup-body {
    display: flex;
    height: 100vh;

    background: rgba(189, 78, 199, 0.2);
    justify-content: center;
    align-items: center;
    padding: 100px 0 60px 0;

    .signup-body-lefticon {
      position: absolute;
      left: 46px;
      > svg {
        fill: #ffffff;
        @include rwd.mobile {
          display: none;
        }
      }
    }
    .signup-body-righticon {
      // padding-left: 100px;
      position: absolute;
      right: 106px;
      // top: 505px;

      > svg {
        fill: #ffffff;
        @include rwd.mobile {
          display: none;
        }
      }
    }

    .signup-body-window {
      display: flex;
      flex-direction: column;
      width: 751px;

      background: rgba(123, 61, 152, 0.8);
      border-radius: 50px;

      @include rwd.mobile {
        width: 90%;
      }

      > svg {
        fill: rgba(123, 61, 152, 0.8);
        position: absolute;
        margin-left: 40px;
        top: 0;
      }
      .signup-body-window-title {
        padding-top: 60px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.25em;
        color: #ffffff;
      }
      .signup-body-window-enter {
        display: flex;
        flex-direction: column;
        padding: 10px 70px 10px 70px;
        .signup-body-window-enter-from {
          display: flex;
          flex-direction: column;
          .signup-body-window-enter-from-signuptext {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            .signup-body-window-enter-from-signuptext-title {
              padding-left: 30px;
              font-family: "Roboto";
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              letter-spacing: 0.1em;

              color: #ffffff;
            }
            .signup-body-window-enter-from-signuptext-help {
              padding-right: 15px;
              font-family: "Roboto";
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              text-align: right;
              cursor: pointer;
              color: #ffffff;
            }
          }
          .signup-body-window-enter-from-input {
            display: flex;
            background: #fffcfc;
            border: 2px solid #7b3d98;
            height: 66px;
            border-radius: 20px;
            .signup-body-window-enter-from-input-enter {
              width: 95%;
              margin-left: 30px;
              padding-right: 20px;
              border-style: none;
              background-color: transparent;
              outline: none;
              font-family: "Roboto";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              letter-spacing: 0.1em;

              color: #7b3d98;
            }
            .signup-body-window-enter-from-input-enter::placeholder {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              letter-spacing: 0.1em;

              color: #7b3d98;
            }
          }
          .signup-body-window-enter-wrapper {
            display: flex;
            justify-content: space-between;
            .signup-body-window-enter-from-forget-text {
              padding-top: 15px;
              font-family: "Roboto";
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              text-align: center;

              color: rgba(255, 255, 255, 0.8);
              cursor: pointer;
            }
          }
        }
        .signup-body-window-signupbutton {
          margin-top: 40px;
          height: 66px;
          background: #7b3d98;
          border: 2px solid #ffffff;
          border-radius: 20px;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          text-align: center;
          letter-spacing: 0.25em;

          color: #ffffff;
          cursor: pointer;
        }
        .signup-body-window-enter-others {
          margin-top: 36px;
          margin-bottom: 30px;
          transition: 0.5s;
          .signup-body-window-enter-others-title {
            display: flex;
            justify-content: center;
            .signup-body-window-enter-others-title-text {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              /* identical to box height */
              text-align: center;
              letter-spacing: 0.1em;
              cursor: pointer;

              color: #ffffff;
              > svg {
                position: relative;
                margin: 0;
                fill: #ffffff;
              }
            }
          }
          .signup-body-window-enter-others-button {
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            gap: 22px;
            .signup-body-window-enter-others-button-background {
              display: flex;
              position: relative;
              justify-content: center;
              align-items: center;
              height: 66px;
              background: #7b3d98;
              border-radius: 20px;
              cursor: pointer;
              img {
                position: absolute;
                left: 0;
                margin-left: 20px;
                width: 59px;
                height: 57px;
              }
              .signup-body-window-enter-others-button-background-text {
                flex: 1;
                font-family: "Roboto";
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                text-align: center;
                letter-spacing: 0.1em;

                color: rgba(255, 255, 255, 0.8);
              }
            }
          }
        }
      }
    }
  }
}

.sample1-stick-icon {
  svg {
    fill: aqua;
  }
}
